* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: fit-content;
    width: 100%;
}

.header {
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box1 {
    height: 30px;
    width: 166px;
    display: flex;
    justify-content: center;
    gap: 4px;
    font-size: 28px;
    align-items: center;
    justify-content: center;
}

.menu {
    height: 72px;
    width: 702px;
    display: flex;
    align-items: center;
}

.menu ul {
    height: 100%;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.home {
    height: 100%;
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.home:hover {
    cursor: pointer;
}

.courses {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.courses:hover {
    cursor: pointer;
}

.blog {
    height: 100%;
    width: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF782D;
    background-color: #F5F5F5;
}

.blog:hover {
    cursor: pointer;
}

.page {
    height: 100%;
    width: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;

}

.page:hover {
    cursor: pointer;
}

.add {
    height: 100%;
    width: 183px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add:hover {
    cursor: pointer;
}

.theme {
    height: 100%;
    width: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme:hover {
    cursor: pointer;
}

.login {
    height: 48px;
    width: 198px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content_blog_right {
    height: auto;
    width: 100%;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.homepage {
    height: 60px;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    padding-left: 119px;
    gap: 8px;
}
.BackGround_right{
    height: 1841px;
    width: 100%;
    background-color:white;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.BackGround_content{
    height: 1690px;
    width: 1290px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.BackGround_content_left{
    height: 100%;
    width: 990px;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}
.top_heading{
    height: 43px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Search{
    height: 31px;
    width: 350px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.Search input{
    border-top: none;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
    width: 270px;
    height: 31px;

}
.Search span{
    position: absolute;
    right: 500px;
}
.listing{
    width: 100%;
    height: 1608px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.collection{
    width: 480px;
    height: 490px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 20px;
}
.picture{
    width: 100%;
    height: 292px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.picture img{
    height: 100%;
    width: 100%;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.Text_right{
    width: 100%;
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    padding: 20px 30px 20px 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.Mid_right{
    width: 123px;
    height: 24px;
    display: flex;
    gap: 8px;
    background-color:white;
    align-items: center;
}
.Page {
    width: 288px;
    height: 48px;
    background-color: #F5F5F5;
    display: flex;
    align-self: center;
    gap: 20px;
    justify-content: space-between;
}

.left {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page_one {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page_two {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page_three {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    width: 48px;
    height: 48px;
    border-radius: 16px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_right {
    width: 270px;
    height: 861px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.categories {
    width: 100%;
    height: 212px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Commercial {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555555;
}

.Office {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555555;
}

.Shop {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Educate {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555555;
}

.Academy {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.Single {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555555;
}
.posts{
    width: 100%;
    height: 346px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.WordPress{
    width: 100%;
    height: 302px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Word{
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.Photo{
    width: 90px;
    height: 90px;
    border-radius: 12px;
}
.Sidebar{
    width: 100%;
    height: 145px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.Free_courses{
    width: 131px;
    height: 43px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    display: flex;
    padding: 8px 20px 8px 20px;
    align-items: center;
    justify-content: center;
}
.Marketing{
    width: 116px;
    height: 43px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    display: flex;
    padding: 8px 20px 8px 20px;
    align-items: center;
    justify-content: center;
}
.Idea{
    width: 73px;
    height: 43px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    display: flex;
    padding: 8px 20px 8px 20px;
    align-items: center;
    justify-content: center;
}
.LMS{
    width: 73px;
    height: 43px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    display: flex;
    padding: 8px 20px 8px 20px;
    align-items: center;
    justify-content: center;
}
.LearnPress{
    width: 121px;
    height: 43px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    display: flex;
    padding: 8px 20px 8px 20px;
    align-items: center;
    background-color: #EAEAEA;
    justify-content: center;
}
.Instructor{
    width: 110px;
    height: 43px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    display: flex;
    padding: 8px 20px 8px 20px;
    align-items: center;
    justify-content: center;
}
.footer {
    width: 100%;
    height: 552px;
    background-color: rgb(224, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    gap: 120px;
    align-items: center;
}

.UP {
    width: 1290px;
    height: 281px;

    display: flex;
    justify-content: space-between;
    justify-self: center;
}

.Edu {
    width: 410px;
    height: 131px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Edu1 {
    width: 166.3px;
    height: 30px;

    display: flex;
}

.get_help {
    width: 190px;
    height: 191px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.help {
    width: 110px;
    height: 135px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.programs {
    width: 190px;
    height: 281px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Art {
    width: 107px;
    height: 225px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact {
    width: 410px;
    height: 218px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Address {
    width: 100%;
    height: 128px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.brand {
    width: 148px;
    height: 20px;

    display: flex;
    justify-content: space-between;
}

.Down {
    width: 452px;
    height: 27px;

    display: flex;
    align-items: center;
    justify-content: center;
}


