* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: fit-content;
    width: 100%;
}

.header {
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box1 {
    height: 30px;
    width: 166px;
    display: flex;
    justify-content: center;
    gap: 4px;
    font-size: 28px;
    align-items: center;
    justify-content: center;
}

.menu {
    height: 72px;
    width: 702px;
    display: flex;
    align-items: center;
}

.menu ul {
    height: 100%;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.home {
    height: 100%;
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.home:hover {
    cursor: pointer;
}

.courses {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.courses:hover {
    cursor: pointer;
}

.blog {
    height: 100%;
    width: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF782D;
    background-color: #F5F5F5;
}

.blog:hover {
    cursor: pointer;
}

.page {
    height: 100%;
    width: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;

}

.page:hover {
    cursor: pointer;
}

.add {
    height: 100%;
    width: 183px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add:hover {
    cursor: pointer;
}

.theme {
    height: 100%;
    width: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme:hover {
    cursor: pointer;
}

.login {
    height: 48px;
    width: 198px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content_blog {
    height: 2735px;
    width: 100%;
    gap: 60px;
    padding-bottom: 90px;
}

.homepage {
    height: 60px;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    padding-left: 119px;
}

.Background_a {
    height: 2675px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.content_a {
    height: 2525px;
    width: 1290px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.content_left_a {
    height: 100%;
    width: 990px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail_a {
    height: 1126px;
    width: 100%;
    background-color: white;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.title_meta_a {
    height: 87px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.title_a {
    height: 43px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
}

.meta_a {
    width: 431px;
    height: 24px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.portraits_a {
    width: 144px;
    height: 100%;
    background-color: white;
    gap: 4px;
    display: flex;
    align-items: center;
}

.calendar_a {
    width: 119px;
    height: 100%;
    background-color: white;
    gap: 4px;
    display: flex;
    align-items: center;
}

.Icon_a {
    width: 16px;
    height: 16px;
    background-color: white;
}

.students_a {
    width: 116px;
    height: 100%;
    background-color: white;
    gap: 4px;
    display: flex;
    align-items: center;
}

.rectangle_a {
    width: 990px;
    height: 849px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.picture_a {
    height: 603px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    display: flex;
}

.picture_a img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.lorem_a {
    width: 100%;
    height: 216px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    line-height: 150%;
}

.tags_a {
    width: 100%;
    height: 43px;
    gap: 20px;
    background-color: white;
    display: flex;
    align-items: center;
}

.Frame_106_a {
    width: 931px;
    height: 43px;
    background-color: white;
    display: flex;
    gap: 8px;
}

.but1_a{
    width: 131px;
    height: 100%;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 8px 20px 8px 20px;
    background-color: white;
}

.but2_a {
    width: 116px;
    height: 100%;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 8px 20px 8px 20px;
    background-color: white;
}

.but3_a {
    width: 73px;
    height: 100%;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 8px 20px 8px 20px;
    background-color: white;
}

.but4_a {
    width: 73px;
    height: 100%;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 8px 20px 8px 20px;
    background-color: white;
}

.but5_a {
    width: 121px;
    height: 100%;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 8px 20px 8px 20px;
    background-color: #EAEAEA;
}

.but6_a {
    width: 110px;
    height: 100%;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 8px 20px 8px 20px;
    background-color: white;
}

.share_a {
    width: 100%;
    height: 27px;
    gap: 20px;
    background-color: white;
    display: flex;
    align-items: center;
}

.social_a {
    width: 148px;
    height: 100%;
    display: flex;
    gap: 12px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}

.social_a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.related_articles_a {
    height: 147px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.articles_left_a {
    height: 100%;
    width: 480px;
    background-color: white;
    padding: 30px;
    display: flex;
    border-radius: 20px;
    border: 1px solid #EAEAEA;
    align-items: center;
    gap: 24px;
}

.Frame_left_a {
    width: 48px;
    height: 48px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Text1_a {
    width: 348px;
    height: 87px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.articles_right_a {
    height: 100%;
    width: 480px;
    background-color: white;
    padding: 30px;
    display: flex;
    border-radius: 20px;
    border: 1px solid #EAEAEA;
    align-items: center;
    gap: 24px;
}

.Frame_right_a {
    width: 48px;
    height: 48px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Text2_a {
    width: 348px;
    height: 87px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.comments_a {
    height: 686px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top_heading_a {
    height: 63px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: white;
}

.Laura_a {
    width: 100%;
    height: 558px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Laura_hipster_a {
    width: 100%;
    height: 160px;
    background-color: #F5F5F5;
    border-top: 1px solid #EAEAEA;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.human_a {
    width: 60px;
    height: 60px;
}

.Text_a {
    width: 910px;
    height: 120px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.October_a {
    width: 100%;
    height: 19px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
}

.Com_a {
    width: 100%;
    height: 81px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
}

.reply_a {
    width: 60.73802947998047px;
    height: 24px;
    background-color: #F5F5F5;
    display: flex;
    gap: 8px;
    align-items: center;
}

.Page_a {
    width: 288px;
    height: 48px;
    background-color: #F5F5F5;
    display: flex;
    align-self: center;
    gap: 20px;
    justify-content: space-between;
}

.left_a {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page_one_a {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page_two_a {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page_three_a {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_a {
    width: 48px;
    height: 48px;
    border-radius: 16px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leave_a_comment_a {
    width: 100%;
    height: 386px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment_a {
    width: 100%;
    height: 63px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.nameinput_a {
    width: 100%;
    height: 293px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name_a {
    width: 100%;
    height: 48px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.Name_a {
    width: 485px;
    height: 100%;
    background-color: white;
    padding-left: 10px;
    border-radius: 5px;
}

.Email_a {
    width: 485px;
    height: 100%;
    background-color: white;
    padding-left: 10px;
    border-radius: 5px;
}

.Comment_a{
    width: 100%;
    height: 110px;
    background-color: white;
}

.cmt_a {
    width: 100%;
    height: 110px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    padding-bottom: 65px;
    padding-left: 10px;
}

.save_a {
    width: 100%;
    height: 27px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.post_a {
    width: 100%;
    height: 48px;
    background-color: white
}

.post_a button {
    width: 170px;
    height: 100%;
    background-color: #FF782D;
    border-radius: 24px;
    color: white;
    border: none;
}

.content_right {
    width: 270px;
    height: 861px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.categories {
    width: 100%;
    height: 212px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Commercial {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555555;
}

.Office {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555555;
}

.Shop {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Educate {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555555;
}

.Academy {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.Single {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555555;
}
.posts{
    width: 100%;
    height: 346px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.WordPress{
    width: 100%;
    height: 302px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Word{
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.Photo{
    width: 90px;
    height: 90px;
    border-radius: 12px;
}
.Sidebar{
    width: 100%;
    height: 145px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.Free_courses{
    width: 131px;
    height: 43px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    display: flex;
    padding: 8px 20px 8px 20px;
}
.Marketing{
    width: 116px;
    height: 43px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    display: flex;
    padding: 8px 20px 8px 20px;
}
.Idea{
    width: 73px;
    height: 43px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    display: flex;
    padding: 8px 20px 8px 20px;
}
.LMS{
    width: 73px;
    height: 43px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    display: flex;
    padding: 8px 20px 8px 20px;
}
.LearnPress{
    width: 121px;
    height: 43px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    display: flex;
    padding: 8px 20px 8px 20px;
}
.Instructor{
    width: 110px;
    height: 43px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    display: flex;
    padding: 8px 20px 8px 20px;
}
.footer {
    width: 100%;
    height: 552px;
    background-color: rgb(224, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    gap: 120px;
    align-items: center;
}

.UP {
    width: 1290px;
    height: 281px;

    display: flex;
    justify-content: space-between;
    justify-self: center;
}

.Edu {
    width: 410px;
    height: 131px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Edu1 {
    width: 166.3px;
    height: 30px;

    display: flex;
}

.get_help {
    width: 190px;
    height: 191px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.help {
    width: 110px;
    height: 135px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.programs {
    width: 190px;
    height: 281px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Art {
    width: 107px;
    height: 225px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact {
    width: 410px;
    height: 218px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Address {
    width: 100%;
    height: 128px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.brand {
    width: 148px;
    height: 20px;

    display: flex;
    justify-content: space-between;
}

.Down {
    width: 452px;
    height: 27px;

    display: flex;
    align-items: center;
    justify-content: center;
}
