* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: fit-content;
    width: 100%;
}

.header {
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box1 {
    height: 30px;
    width: 166px;
    display: flex;
    justify-content: center;
    gap: 4px;
    font-size: 28px;
    align-items: center;
    justify-content: center;
}

.menu {
    height: 72px;
    width: 702px;
    display: flex;
    align-items: center;
}

.menu ul {
    height: 100%;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}
.home{
    height: 100%;
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.home:hover{
    cursor: pointer;
}
.courses{
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.courses:hover{
    cursor: pointer;
}
.blog{
    height: 100%;
    width: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog:hover{
    cursor: pointer;
}
.page{
    height: 100%;
    width: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    color: #FF782D;
    background-color: #F5F5F5;
}
.page:hover{
    cursor: pointer;
}
.add{
    height: 100%;
    width: 183px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add:hover{
    cursor: pointer;
}
.theme{
    height: 100%;
    width: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.theme:hover{
    cursor: pointer;
}
.login {
    height: 48px;
    width: 198px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}
.line_contact{
    height: 1128px;
    width: 100%;
    background-color: white;
    padding-bottom: 90px;
    gap: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage {
    height: 60px;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    padding-left: 119px;
}
.map{
    height: 918px;
    width: 1290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Direct_line{
    width: 1290px;
    height: 450px;
    background-color:white;
    display: flex;
    justify-content: space-between;
    
}
.line_left{
    width: 410px;
    height: 269px;
    background-color: white; 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.line_Need{
    width: 100%;
    height: 43px;
    display: flex;
    align-items: center;
}
.line_Text{
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    line-height: 150%;
}
.line_phone{
    width: 194px;
    height: 58px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.icon1{
    width: 56px;
    height: 56px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.number{
    width: 114px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}
.line_e_mail{
    width: 261px;
    height: 58px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.line_icon2{
    width: 56px;
    height: 56px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.line_Email{
    width: 181px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}
.line_right{
    height: 100%;
    width: 850px;
    background-color: white;
    display: flex;
}
.line_right img{
    object-fit: contain;
}
.Contact_us{
    width: 1290px;
    height: 408px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Contact_Leave_a_comment{
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: white;
}
.Contact_nameinput{
    width: 100%;
    height: 178px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Contact_up{
    width: 100%;
    height: 48px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.nameinput_name{
    width: 635px;
    height: 100%;
    padding: 10px 16px 10px 16px;
    border: 1px solid #9D9D9D;
    border-radius: 8px;
}
.nameinput_email{
    width: 635px;
    height: 100%;
    padding: 10px 16px 10px 16px;
    border: 1px solid #9D9D9D;
    border-radius: 8px;
}
.nameinput_comment{
    width: 100%;
    height: 110px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    padding-bottom: 65px;
    padding-left: 10px;
    border: 1px solid #9D9D9D;
}
.Contact_checkbox{
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.contact_button{
    width: 170px;
    height: 48px;
    background-color: white;
}
.contact_button button{
    width: 170px;
    height: 100%;
    background-color: #FF782D;
    border-radius: 24px;
    color: white;
    border: none;
}
.footer {
    width: 100%;
    height: 552px;
    background-color: rgb(224, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    gap: 120px;
    align-items: center;
}

.UP {
    width: 1290px;
    height: 281px;

    display: flex;
    justify-content: space-between;
    justify-self: center;
}

.Edu {
    width: 410px;
    height: 131px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Edu1 {
    width: 166.3px;
    height: 30px;

    display: flex;
}

.get_help {
    width: 190px;
    height: 191px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.help {
    width: 110px;
    height: 135px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.programs {
    width: 190px;
    height: 281px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Art {
    width: 107px;
    height: 225px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact {
    width: 410px;
    height: 218px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Address {
    width: 100%;
    height: 128px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.brand {
    width: 148px;
    height: 20px;

    display: flex;
    justify-content: space-between;
}

.Down {
    width: 452px;
    height: 27px;

    display: flex;
    align-items: center;
    justify-content: center;
}
