* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: fit-content;
    width: 100%;
}

.header {
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box1 {
    height: 100%;
    width: 166px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.box1 strong {
    align-self: center;
}

.ha_1 {
    width: 39.3px;
    height: 30px;
    align-self: center;
}

.menu {
    height: 72px;
    width: 702px;
    display: flex;
    align-items: center;
}

.menu ul {
    height: 100%;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.home {
    height: 100%;
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    background-color: rgb(224, 214, 214);
}

.courses {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog {
    height: 100%;
    width: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    height: 100%;
    width: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.add {
    height: 100%;
    width: 183px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme {
    height: 100%;
    width: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    height: 48px;
    width: 198px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content_course {
    width: 100%;
    height: 250vh;
    
}

.homepage {
    width: 100%;
    height: 60px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    padding-left: 119px;
}

.course {
    width: 100%;
    height: 290px;
    background-color: black;
    display: flex;
    padding-left: 119px;
    align-items: center;
}

.Photo {
    width: 1290px;
    height: 190px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photo {
    width: 301px;
    height: 40px;
    background-color: black;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;

}

.photo button {
    width: 114px;
    height: 40px;
    background-color: gray;
    border-radius: 7px;
    color: white;
}

.Ultimate {
    width: 850px;
    height: 86px;
    background-color: black;
    display: flex;
    align-items: center;
}

.weeks {
    width: 563px;
    height: 24px;
    background-color: black;
    display: flex;
    color: aliceblue;
}

.Box1 {
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;
    gap: 5px;
}

.Box2 {
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;
    gap: 5px;
}

.Box3 {
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;
    gap: 5px;
}

.Box4 {
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;
    gap: 5px;
}

.Box5 {
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;
    gap: 5px;
}

.Frame {
    position: absolute;
    top: 182px;
    right: 112px;
}

.intro {
    width: 100%;
    height: 1000px;
    display: flex;
    padding-top: 40px;
    padding-left: 119px;
}

.Intro {
    width: 1290px;
    height: 874px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.aa {
    width: 850px;
    height: 434px;
    background-color:salmon;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

}

.categories_course {
    width: 100%;
    height: 64px;
    background-color: white;
    display: flex;
    border-radius: 10px 10px 0px 0px;
}

.Overview {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Curriculum {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Instructor {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    color: orange;
}

.FAQs {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Reviews {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LearnPress_course_ins {
    width: 100%;
    height: 370px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    gap: 40px;
    border-radius: 0px 0px 10px 10px;
}
.ThimPress{
    width: 790px;
    height: 310px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.T1{
    width: 100%;
    height: 189px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
}
.pi{
    width: 180px;
    height: 180px;
    background-color: #F5F5F5;
}
.chu{
    width: 586px;
    height: 189px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tit{
    width: 99px;
    height: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lorem{
    width: 100%;
    height: 81px;
    background-color: #F5F5F5;
    display: flex;
    line-height: 175%;
    align-items: center;
}
.stu{
    width: 120px;
    height: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.les{
    width: 108px;
    height: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.T2{
    width: 100%;
    height: 54px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    line-height: 150%;
}
.T3{
    width: 214px;
    height: 27px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Icons{
    width: 148px;
    height: 20px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aa1 {
    width: 850px;
    height: 386px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment {
    width: 100%;
    height: 63px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nameinput {
    width: 100%;
    height: 293px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    width: 100%;
    height: 48px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.Name {
    width: 415px;
    height: 100%;
    background-color: white;
    padding-left: 10px;
    border-radius: 5px;
}

.Email {
    width: 415px;
    height: 100%;
    background-color: white;
    padding-left: 10px;
    border-radius: 5px;
}

.Comment {
    width: 100%;
    height: 110px;
    background-color: white;
}

.cmt {
    width: 100%;
    height: 110px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    padding-bottom: 65px;
    padding-left: 10px;
}

.save {
    width: 100%;
    height: 27px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.post {
    width: 100%;
    height: 48px;
    background-color: white
}

.post button {
    width: 170px;
    height: 100%;
    background-color: #FF782D;
    border-radius: 24px;
    color: white;
    border: none;
}

.footer {
    width: 100%;
    height: 552px;
    background-color: rgb(224, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    gap: 120px;
    align-items: center;
}

.UP {
    width: 1290px;
    height: 281px;

    display: flex;
    justify-content: space-between;
    justify-self: center;
}

.Edu {
    width: 410px;
    height: 131px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Edu1 {
    width: 166.3px;
    height: 30px;

    display: flex;
}

.get_help {
    width: 190px;
    height: 191px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.help {
    width: 110px;
    height: 135px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.programs {
    width: 190px;
    height: 281px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Art {
    width: 107px;
    height: 225px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact {
    width: 410px;
    height: 218px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Address {
    width: 100%;
    height: 128px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.brand {
    width: 148px;
    height: 20px;

    display: flex;
    justify-content: space-between;
}

.Down {
    width: 452px;
    height: 27px;

    display: flex;
    align-items: center;
    justify-content: center;
}