* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: fit-content;
    width: 100%;
}

.header {
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box1 {
    height: 30px;
    width: 166px;
    display: flex;
    justify-content: center;
    gap: 4px;
    font-size: 28px;
    align-items: center;
    justify-content: center;
}

.menu {
    height: 72px;
    width: 702px;
    display: flex;
    align-items: center;
}

.menu ul {
    height: 100%;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.home {
    height: 100%;
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.home:hover {
    cursor: pointer;
}

.courses {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF782D;
    background-color: #F5F5F5;
}

.courses:hover {
    cursor: pointer;
}

.blog {
    height: 100%;
    width: 74px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.blog:hover {
    cursor: pointer;
}

.page {
    height: 100%;
    width: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;

}

.page:hover {
    cursor: pointer;
}

.add {
    height: 100%;
    width: 183px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add:hover {
    cursor: pointer;
}

.theme {
    height: 100%;
    width: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme:hover {
    cursor: pointer;
}

.login {
    height: 48px;
    width: 198px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content_course_left {
    height: 2021px;
    width: 100%;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage {
    height: 60px;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    padding-left: 119px;
    gap: 8px;
}

.BackGround {
    width: 100%;
    height: 1951px;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.content {
    width: 1290px;
    height: 1811px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.content_left {
    height: 100%;
    width: 990px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top_heading {
    height: 43px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Search {
    height: 31px;
    width: 350px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.Search input {
    border-top: none;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
    width: 270px;
    height: 31px;

}

.Search span {
    position: absolute;
    right: 500px;
}

.Courses {
    height: 1728px;
    width: 990px;
    display: flex;
    background-color: white;
    flex-direction: column;
    gap: 30px;
}

.collection {
    height: 250px;
    width: 990px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid #EAEAEA;
}

.Photography {
    height: 100%;
    width: 410px;
    display: flex;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.Photography img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.Text {
    width: 580px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    padding: 20px 30px 20px 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
}

.Upper {
    height: 100px;
    width: 540px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Top {
    width: 148px;
    height: 24px;
    background-color: white;
    display: flex;
    align-items: center;
}

.Bot {
    height: 24px;
    width: 448px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weeks {
    width: 78px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.students {
    width: 112px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.levels {
    width: 84px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.lessons {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Dower {
    width: 540px;
    height: 43px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #EAEAEA;
    align-items: flex-end;
}

.Free {
    width: 89px;
    height: 27px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.Page {
    width: 288px;
    height: 48px;
    background-color: #F5F5F5;
    display: flex;
    align-self: center;
    gap: 20px;
    justify-content: space-between;
}

.left {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page_one {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page_two {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page_three {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    width: 48px;
    height: 48px;
    border-radius: 16px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_right {
    width: 270px;
    height: 1104px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.course_category{
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.categories {
    width: 100%;
    height: 286px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cate1 {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cate1_text {
    width: 227px;
    height: 27px;
    display: flex;
    align-items: center;
}

.cate2 {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cate2_text {
    width: 227px;
    height: 27px;
    display: flex;
    align-items: center;
}
.cate3 {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cate3_text {
    width: 227px;
    height: 27px;
    display: flex;
    align-items: center;
}
.cate4{
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cate4_text {
    width: 227px;
    height: 27px;
    display: flex;
    align-items: center;
}
.cate5{
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cate5_text {
    width: 227px;
    height: 27px;
    display: flex;
    align-items: center;
}
.cate6 {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cate6_text {
    width: 227px;
    height: 27px;
    display: flex;
    align-items: center;
}
.cate7 {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cate7_text {
    width: 227px;
    height: 27px;
    display: flex;
    align-items: center;
}
.cate8{
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cate8_text {
    width: 227px;
    height: 27px;
    display: flex;
    align-items: center;
}
.Instructor{
    width: 100%;
    height: 108px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Ins{
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ins1{
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ins1_text{
    width: 227px;
    height: 27px;
    display: flex;
    align-items: center;
}
.ins2{
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ins2_text{
    width: 227px;
    height: 27px;
    display: flex;
    align-items: center;
}
.price{
    width: 100%;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.All{
    width: 100%;
    height: 101px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.price1{
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price1_text{
    width: 227px;
    height: 27px;
    display: flex;
    align-items: center;
}
.price2{
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price2_text{
    width: 227px;
    height: 27px;
    display: flex;
    align-items: center;
}
.price3{
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price3_text{
    width: 227px;
    height: 27px;
    display: flex;
    align-items: center;
}
.review{
    width: 100%;
    height: 219px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Star{
    height: 175px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.review1{
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review1_text{
    width: 190px;
    height: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.review2{
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review2_text{
    width: 190px;
    height: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.review3{
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review3_text{
    width: 190px;
    height: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.review4{
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review4_text{
    width: 190px;
    height: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.review5{
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review5_text{
    width: 190px;
    height: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.level{
    width: 100%;
    height: 182px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.filter{
    width: 100%;
    height: 138px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.level1{
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.level1_text{
    width: 227px;
    height: 27px;
    display: flex;
    align-items: center;
}
.level2{
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.level2_text{
    width: 227px;
    height: 27px;
    display: flex;
    align-items: center;
}
.level3{
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.level3_text{
    width: 227px;
    height: 27px;
    display: flex;
    align-items: center;
}
.level4{
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.level4_text{
    width: 227px;
    height: 27px;
    display: flex;
    align-items: center;
}
.footer {
    width: 100%;
    height: 552px;
    background-color: rgb(224, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    gap: 120px;
    align-items: center;
}

.UP {
    width: 1290px;
    height: 281px;

    display: flex;
    justify-content: space-between;
    justify-self: center;
}

.Edu {
    width: 410px;
    height: 131px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Edu1 {
    width: 166.3px;
    height: 30px;

    display: flex;
}

.get_help {
    width: 190px;
    height: 191px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.help {
    width: 110px;
    height: 135px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.programs {
    width: 190px;
    height: 281px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Art {
    width: 107px;
    height: 225px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact {
    width: 410px;
    height: 218px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Address {
    width: 100%;
    height: 128px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.brand {
    width: 148px;
    height: 20px;

    display: flex;
    justify-content: space-between;
}

.Down {
    width: 452px;
    height: 27px;

    display: flex;
    align-items: center;
    justify-content: center;
}




