* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: fit-content;
    width: 100%;
}

.header {
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box1 {
    height: 30px;
    width: 166px;
    display: flex;
    justify-content: center;
    gap: 4px;
    font-size: 28px;
    align-items: center;
    justify-content: center;
}

.menu {
    height: 72px;
    width: 702px;
    display: flex;
    align-items: center;
}

.menu ul {
    height: 100%;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}
.home{
    height: 100%;
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.home:hover{
    cursor: pointer;
}
.courses{
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.courses:hover{
    cursor: pointer;
}
.blog{
    height: 100%;
    width: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog:hover{
    cursor: pointer;
}
.page{
    height: 100%;
    width: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    color: #FF782D;
    background-color: #F5F5F5;
}
.page:hover{
    cursor: pointer;
}
.add{
    height: 100%;
    width: 183px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add:hover{
    cursor: pointer;
}
.theme{
    height: 100%;
    width: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.theme:hover{
    cursor: pointer;
}
.login {
    height: 48px;
    width: 198px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.content_error {
    width: 100%;
    height: 1100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.homepage {
    height: 60px;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    padding-left: 119px;
}
.Text{
    width: 100%;
    height: 43px;
    background-color: white;
    display: flex;
    align-items: center;
}
.error{
    width: 1290px;
    height: 1014px;
    background-color: white;
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
}

.Royalty{
    width: 1290px;
    height: 474px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 630px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.royal{
    width: 630px;
    height: 64px;
    padding: 20px 30px 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: #F5F5F5;
}
.Royal{
    width: 630px;
    height: 192px;
    background-color: #F5F5F5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px 20px 30px;
}
.Royal p{
    line-height: 150%;
}
.royal1{
    width: 570px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color:#F5F5F5;
}
.right{
    width: 630px;
    height: 346px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.people{
    width: 1290px;
    height: 317.014404296875px;
    display: flex;
    background-color: white;
}
.people img{
    object-fit: contain;
}
.footer {
    height: 552px;
    width: 100%;
    padding: 30px 0px 90px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F5F5F5;
}

.Edu {
    height: 281px;
    width: 1290px;
    display: flex;
    justify-content: space-between;
}

.Edu1 {
    height: 131px;
    width: 410px;
}

.Edu2 {
    height: 190px;
    width: 191px;
    display: flex;
}

.Edu2_1 {
    height: 135px;
    width: 110px;
    display: flex;
    align-self: flex-end;
    position: relative;
    right: 62px;
    flex-direction: column;
    justify-content: space-between;
}

.Edu3 {
    height: 281px;
    width: 190px;
    display: flex;
}

.Edu3_1 {
    height: 225px;
    width: 107px;
    position: relative;
    right: 67px;
    top: 55px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.Edu4 {
    height: 218px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.Edu4_1 {
    height: 162px;
    width: 100%;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
}

.t {
    height: 20px;
    width: 148px;
    display: flex;
    justify-content: flex-end;

}

.copyright {
    height: 50px;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    display: flex;
    left: 30%;

}