* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: fit-content;
    width: 100%;
}

.header {
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px;
    gap: 113px;
}
.box1 {
    height: 30px;
    width: 166px;
    display: flex;
    justify-content: center;
    gap: 4px;
    font-size: 28px;
    align-items: center;
    justify-content: center;
}
.box1 strong{
    align-self: center;
}
.ha_1{
    width: 39.3px;
    height: 30px;
    align-self: center;
}
.menu {
    height: 72px;
    width: 702px;
    display: flex;
    align-items: center;
}

.menu ul {
    height: 100%;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}
.home{
    height: 100%;
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF782D;
    background-color: #F5F5F5;
}

.home:hover{
    cursor: pointer;
}
.courses{
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.courses:hover{
    cursor: pointer;
}
.blog{
    height: 100%;
    width: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog:hover{
    cursor: pointer;
}
.page{
    height: 100%;
    width: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    
}
.page:hover{
    cursor: pointer;
}
.add{
    height: 100%;
    width: 183px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add:hover{
    cursor: pointer;
}
.theme{
    height: 100%;
    width: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.theme:hover{
    cursor: pointer;
}
.login {
    height: 48px;
    width: 198px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.login:hover{
    cursor: pointer;
}
.main_content {
    height: fit-content;
    width: 100%;
}

.container_1 {
    height: 700px;
    width: 100%;
    display: flex;
}

.container_1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container_1_1 {
    width: 520px;
    height: 262px;
    position: absolute;
    top: 300px;
    left: 250px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.title_1 {
    height: 116px;
    width: 100%;
    display: flex;
}

.title_2 {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;

}

.button {
    height: 68px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.button button {
    height: 48px;
    width: 170px;
    background-color: #FF782D;
    display: flex;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
}

.button button:hover {
    cursor: pointer;
}

.container_1_2 {
    height: 800px;
    width: 100%;
    display: flex;
    padding: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.categories_menu {
    height: 77px;
    width: 1290px;

    display: flex;
    justify-content: space-between;
}

.categories_menu .cat {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.container .button_1 {
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button_1 button {
    height: 48px;
    width: 170px;
    background-color: #FF782D;
    display: flex;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
}

.button_1 button:hover {
    cursor: pointer;
}

.Categories {
    height: 514px;
    width: 1290px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.cat_1 {
    height: 50%;
    width: 100%;
    display: flex;
}

.cat_1 ul {
    height: 100%;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.cat_1 ul li {
    height: 100%;
    width: 20%;

    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.cat_1 ul li:hover {
    transform: translateY(-50px);
    /* Nhấc lên */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    /* Bóng đổ mạnh hơn */
    cursor: move;
    transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
}

.cat_2 {
    height: 50%;
    width: 100%;
    display: flex;
}

.cat_2 ul {
    height: 100%;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    gap: 1em;

}

.cat_2 ul li {
    height: 100%;
    width: 20%;
    transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.cat_2 ul li:hover {
    transform: translateY(-50px);
    /* Nhấc lên */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    /* Bóng đổ mạnh hơn */
    cursor: pointer;
}

.container_1_3 {
    height: 1190px;
    width: 100%;

    padding: 100px;
}

.features {
    height: 77px;
    width: 100%;

    display: flex;
    justify-content: space-between;

}

.features_courses {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.features .but_1 {
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.but_1 button {
    height: 48px;
    width: 170px;
    background-color: #FF782D;
    display: flex;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
}

.container_1_3 .photography {
    height: 1000px;
    width: 100%;

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.p1 {
    height: 50%;
    width: 100%;

    display: flex;
}

.p1 ul {
    height: 100%;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.p1 ul li {
    height: 100%;
    width: 50%;
    transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.p1 ul li:hover {
    transform: translateY(-15px);
    /* Nhấc lên */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    /* Bóng đổ mạnh hơn */
    cursor: move;
}

.p2 {
    height: 50%;
    width: 100%;
}

.p2 ul {
    height: 100%;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    gap: 1em;

}

.p2 ul li {
    height: 100%;
    width: 50%;
    transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.p2 ul li:hover {
    transform: translateY(-15px);
    /* Nhấc lên */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    /* Bóng đổ mạnh hơn */
    cursor: pointer;
}

.LearnPress {
    height: 469px;
    width: 100%;
    padding-left: 100px;
    display: flex;
}

.anh {
    height: 100%;
    width: 644px;
    display: flex;
}

.intro1 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.box {
    height: 384px;
    width: 520px;
    display: flex;
    flex-wrap: wrap;
}

.box1 {
    height: 76px;
    width: 340px;
    display: flex;
    align-items: flex-start;
}

.box2_3 {
    height: 216px;
    width: 520px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.box2 {
    height: 56px;
    width: 520px;
    display: flex;

}

.box3 {
    height: 144px;
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.button_2 {
    height: 68px;
    width: 520px;
}

.button_2 button {
    height: 48px;
    width: 170px;
    background-color: #FF782D;
    display: flex;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
}

.img1 {
    width: 100%;
    height: 100%;
    padding: 100px;
    justify-content: center;
    position: relative;
    align-self: center;
    display: flex;
}

.img_box {
    height: 188px;
    width: 600px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Căn giữa chính xác */
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.img_box button {
    height: 48px;
    width: 170px;
    background-color: #FF782D;
    display: flex;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
}

.img_box button:hover {
    cursor: pointer;
}

.Feedbacks {
    height: 534px;
    width: 100%;
    gap: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.student {
    height: 77px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.mistake {
    height: 408px;
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.banner {
    height: 250px;
    width: 100%;
    gap: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i {
    height: 120px;
    width: 1190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Academy_LMS{
    height: 120px;
    width: 433px;
    display: flex;
}

.i_right {
    height: 48px;
    width: 395px;
    display: flex;
    justify-content: space-between;
}

.i_right .b1 {
    height: 48px;
    width: 156px;
    background-color: white;
    display: flex;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    color: orange;
    border: solid 1px orange;
}

.i_right .b2 {
    height: 48px;
    width: 156px;
    background-color: #FF782D;
    display: flex;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
}
.content_course_over {
    width: 100%;
    min-height: 180vh;
    height: auto; /* Cho phép container mở rộng theo nội dung */
    overflow-y: auto; /* Thêm thanh cuộn nếu nội dung vượt quá chiều cao viewport */
    padding-bottom: 40px;
}

.homepage {
    width: 100%;
    height: 60px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    padding-left: 119px;
}

.course {
    width: 100%;
    height: 290px;
    background-color: black;
    display: flex;
    padding-left: 119px;
    align-items: center;
}

.Photo {
    width: 1290px;
    height: 190px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photo {
    width: 301px;
    height: 40px;
    background-color: black;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;

}

.photo button {
    width: 114px;
    height: 40px;
    background-color: gray;
    border-radius: 7px;
    color: white;
}

.Ultimate {
    width: 850px;
    height: 86px;
    background-color: black;
    display: flex;
    align-items: center;
}

.weeks {
    width: 563px;
    height: 24px;
    background-color: black;
    display: flex;
    color: aliceblue;
}

.weeks_Box1 {
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;
    gap: 5px;
}

.weeks_Box2 {
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;
    gap: 5px;
}

.weeks_Box3 {
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;
    gap: 5px;
}

.weeks_Box4 {
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;
    gap: 5px;
}

.weeks_Box5 {
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;
    gap: 5px;
}

.Frame {
    position: absolute;
    top: 182px;
    right: 112px;
}

.intro {
    width: 100%;
    height: auto;
    flex-direction: column;
    display: flex;
    padding-top: 40px;
    padding-left: 119px;
    gap: 30px;
}

.Intro {
    width: 1290px;
    height: auto;
    background-color :white;
    display: block;
    justify-content: space-between;
    flex-direction: column;
    
}

.aa {
    width: 850px;
    height: auto;
    background-color: white;
    
}

.aa_categories {
    width: 100%;
    height: 64px;
    background-color: white;
    display: flex;
}

.Overview {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    color: orange;
}
.Overview:hover{
    cursor: pointer;
}
.Curriculum {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Curriculum:hover{
    cursor: pointer;
}
.Instructor {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Instructor:hover{
    cursor: pointer;
}
.FAQs {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.FAQs:hover{
    cursor: pointer;
}
.Reviews {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Reviews:hover{
    cursor: pointer;
}
.LearnPress_course_over {
    width: 100%;
    height: auto;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 40px 100px 40px;
    gap: 40px;
}

.LearnPress_course_ins {
    width: 100%;
    height: 370px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    gap: 40px;
    border-radius: 0px 0px 10px 10px;
}
.ThimPress{
    width: 790px;
    height: 310px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.T1{
    width: 100%;
    height: 189px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
}
.pi{
    width: 180px;
    height: 180px;
    background-color: #F5F5F5;
}
.chu{
    width: 586px;
    height: 189px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tit{
    width: 99px;
    height: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lorem{
    width: 100%;
    height: 81px;
    background-color: #F5F5F5;
    display: flex;
    line-height: 175%;
    align-items: center;
}
.stu{
    width: 120px;
    height: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.les{
    width: 108px;
    height: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.T2{
    width: 100%;
    height: 54px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    line-height: 150%;
}
.T3{
    width: 214px;
    height: 27px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Icons{
    width: 148px;
    height: 20px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.LearnPress_course_cur {
    width: 100%;
    height: 650px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px 100px 40px;
    gap: 20px;
}

.Heading{
    width: 790px;
    height: 54px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    color: #555555;
}

.video {
    width: 790px;
    height: auto;
    background-color: rgb(224, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vid1 {
    width: 100%;
    height: 56px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
}

.vid1_1 {
    width: 16px;
    height: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vid1_2 {
    width: 576px;
    height: 24px;
    background-color: white; 
    display: flex;
    align-items: center;
}

.vid1_3 {
    width: 142px;
    height: 24px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vid2 {
    width: 790px;
    height: 224px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
}
.vid2_1{
    width: 100%;
    height: 25%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.vid2_1_0{
    width: 16px;
    height: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vid2_1_1{
    width: 576px;
    height: 24px;
    background-color: white;
    display: flex;
    align-items: center;
    color: orange;
}
.vid2_1_2{
    width: 142px;
    height: 24px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vid2_2{
    width: 100%;
    height: 25%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 28px;
}
.vid2_2_1{
    width: 16px;
    height: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vid2_2_2{
    width: 506px;
    height: 24px;
    background-color: white;
    display: flex;
    align-items: center;
}
.vid2_2_3{
    width: 188px;
    height: 32px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.vid2_2_3 button{
    width: 76px;
    height: 100%;
    background-color: cornflowerblue;
    border-radius: 8px;
    color: white;
}
.clock1{
    width: 100px;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vid2_3{
    width: 100%;
    height: 25%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 28px;
}
.vid2_3_1{
    width: 16px;
    height: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vid2_3_2{
    width: 506px;
    height: 24px;
    background-color: white;
    display: flex;
    align-items: center;
}
.vid2_3_3{
    width: 188px;
    height: 32px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.vid2_3_3 button{
    width: 76px;
    height: 100%;
    background-color: cornflowerblue;
    border-radius: 8px;
    color: white;
}
.clock2{
    width: 100px;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.vid2_4{
    width: 100%;
    height: 25%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 28px;
}
.vid2_4_1{
    width: 16px;
    height: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vid2_4_2{
    width: 506px;
    height: 24px;
    background-color: white;
    display: flex;
    align-items: center;
}
.vid2_4_3{
    width: 188px;
    height: 32px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.vid2_4_3 button{
    width: 76px;
    height: 100%;
    background-color: cornflowerblue;
    border-radius: 8px;
    color: white;
}
.clock3{
    width: 100px;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.vid3{
    width: 100%;
    height: 56px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
}
.vid4{
    width: 100%;
    height: 56px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
}
.vid5{
    width: 100%;
    height: 56px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
}
.LearnPress_course_FAQs {
    width: 100%;
    height: 477px;
    background-color:#F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-radius: 0px 0px 10px 10px;
    gap: 20px;
}
.royal{
    width: 790px;
    height: 64px;
    padding: 20px 30px 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: white;
}
.Royal{
    width: 790px;
    height: 165px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px 20px 30px;
}
.Royal p{
    line-height: 150%;
}
.royal1{
    width: 730px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: white;
}
.LearnPress_course_reviews {
    width: 100%;
    height: 931px;
    background-color: #F5F5F5;
    display: flex;
    padding: 30px;
    gap: 20px;
    flex-direction: column;
}
.Comment_reviews{
    width: 101px;
    height: 24px;
    background-color: #F5F5F5;
    display: flex;
    
    align-items: center;
}
.Star{
    width: 790px;
    height: 827px;
    background-color:#F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Score{
    width: 100%;
    height: 48px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    gap: 12px;
}
.Rating{
    width: 174px;
    height: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.star{
    width: 116px;
    height: 20px;
    background-color: #F5F5F5;
}
.rating{
    width: 174px;
    height: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;  
}
.Rate{
    width: 100%;
    height: 151px;
    background-color:#F5F5F5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.percent{
    height: 100%;
    width: 120px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.five{
    width: 123px;
    height: 27px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    gap: 8px;
}
.five_star{
    width: 80px;
    height: 16px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.five_star img{
    width: 11.335022926330566px;
    height: 10.847996711730957px;
}
.four{
    width: 120px;
    height: 27px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    gap: 8px;
}
.four_star{
    width: 80px;
    height: 16px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.four_star img{
    width: 11.335022926330566px;
    height: 10.847996711730957px;
}
.three{
    width: 120px;
    height: 27px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    gap: 8px;
}
.three_star{
    width: 80px;
    height: 16px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.three_star img{
    width: 11.335022926330566px;
    height: 10.847996711730957px;
}
.two{
    width: 120px;
    height: 27px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    gap: 8px;
}
.two_star{
    width: 80px;
    height: 16px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.two_star img{
    width: 11.335022926330566px;
    height: 10.847996711730957px;
}
.one{
    width: 120px;
    height: 27px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    gap: 8px;
}
.one_star{
    width: 80px;
    height: 16px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.one_star img{
    width: 11.335022926330566px;
    height: 10.847996711730957px;
}
.bar{
    width: 650px;
    height: 130px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.bar1{
    width: 650px;
    height: 10px;
    background-color: #EAEAEA;
}
.fill1{
    width: 90%;
    height: 100%;
    background-color: #F5F5F5;
}
.bar2{
    width: 650px;
    height: 10px;
    background-color: #EAEAEA;
}
.fill2{
    width: 5%;
    height: 100%;
    background-color: #F5F5F5;
}
.bar3{
    width: 650px;
    height: 10px;
    background-color: #EAEAEA;
}
.fill3{
    width: 2%;
    height: 100%;
    background-color: #F5F5F5;
}
.bar4{
    width: 650px;
    height: 10px;
    background-color: #EAEAEA;
}
.fill4{
    width: 2%;
    height: 100%;
    background-color: #F5F5F5;
}
.bar5{
    width: 650px;
    height: 10px;
    background-color: #EAEAEA;
}
.fill5{
    width:1%;
    height: 100%;
    background-color: #F5F5F5;
}
.Laura{
    width: 790px;
    height: 588px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Laura1{
    width: 100%;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Laura_hipster{
    width: 100%;
    height: 160px;
    background-color: #F5F5F5;
    border-top: 1px solid #EAEAEA;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.human{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.human img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.Laura_Text{
    width: 710px;
    height: 140px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.October{
    width: 100%;
    height: 19px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
}
.Com{
    width: 100%;
    height: 81px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
}
.reply{
    width: 60.73802947998047px;
    height: 24px;
    background-color: #F5F5F5;
    display: flex;
    gap: 8px;
    align-items: center;
}
.Laura2{
    width: 100%;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pp{
    width: 100%;
    height: 160px;
 
    border-top: 1px solid #EAEAEA;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.pp_text{
    width: 710px;
    height: 140px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Page{
    width: 288px;
    height: 48px;
    background-color:#F5F5F5;
    display: flex;
    align-self: center;
    gap: 20px;
    justify-content: space-between;
}
.left{
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Page_one{
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Page_one:hover{
    cursor: pointer;
}
.Page_two{
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Page_two:hover{
    cursor: pointer;
}
.Page_three{
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Page_three:hover{
    cursor: pointer;
}
.right{
    width: 48px;
    height: 48px;
    border-radius: 16px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aa1 {
    width: 850px;
    height: 386px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment {
    width: 100%;
    height: 63px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nameinput {
    width: 100%;
    height: 293px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    width: 100%;
    height: 48px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.Name {
    width: 415px;
    height: 100%;
    background-color: white;
    padding-left: 10px;
    border-radius: 5px;
}

.Email {
    width: 415px;
    height: 100%;
    background-color: white;
    padding-left: 10px;
    border-radius: 5px;
}

.Comment {
    width: 100%;
    height: 110px;
    background-color: white;
}

.cmt {
    width: 100%;
    height: 110px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    padding-bottom: 65px;
    padding-left: 10px;
}

.save {
    width: 100%;
    height: 27px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.post {
    width: 100%;
    height: 48px;
    background-color: white
}

.post button {
    width: 170px;
    height: 100%;
    background-color: #FF782D;
    border-radius: 24px;
    color: white;
    border: none;
}
.content_blog_left {
    height: auto;
    width: 100%;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.BackGround_left{
    width: 100%;
    height: 1951px;
    background-color:white;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.content{
    width: 1290px;
    height: 1811px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.content_left{
    height: 100%;
    width: 990px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top_heading{
    height: 43px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Search{
    height: 31px;
    width: 350px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.Search input{
    border-top: none;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
    width: 270px;
    height: 31px;

}
.Search span{
    position: absolute;
    right: 500px;
}
.Courses{
    height: 1728px;
    width: 990px;
    display: flex;
    background-color:white;
    flex-direction: column;
    gap: 30px;
}
.collection1{
    height: 250px;
    width: 990px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid #EAEAEA;
}
.collection2{
    height: 250px;
    width: 990px;
    border-radius: 20px;
    background-color:#EAEAEA;
    display: flex;
    align-items: center;
    border: 1px solid #EAEAEA;
}
.Eduma{
    height: 100%;
    width: 410px;
    display: flex;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; 
}
.Eduma img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.Text{
    width: 580px;
    height: 174px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    padding: 20px 30px 20px 30px;
}
.Mid{
    width: 123px;
    height: 24px;
    display: flex;
    gap: 8px;
    background-color:white;
    align-items: center;
}
.Page {
    width: 288px;
    height: 48px;
    background-color: #F5F5F5;
    display: flex;
    align-self: center;
    gap: 20px;
    justify-content: space-between;
}

.left {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page_one {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page_two {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page_three {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    width: 48px;
    height: 48px;
    border-radius: 16px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BackGround_content_left{
    height: 100%;
    width: 990px;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}
.top_heading{
    height: 43px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Search{
    height: 31px;
    width: 350px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.Search input{
    border-top: none;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
    width: 270px;
    height: 31px;

}
.Search span{
    position: absolute;
    right: 500px;
}
.listing{
    width: 100%;
    height: 1608px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.collection{
    width: 480px;
    height: 490px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 20px;
}
.picture{
    width: 100%;
    height: 292px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.picture img{
    height: 100%;
    width: 100%;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.Text_right{
    width: 100%;
    height: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    padding: 20px 30px 20px 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.Mid_right{
    width: 123px;
    height: 24px;
    display: flex;
    gap: 8px;
    background-color:white;
    align-items: center;
}
.Page {
    width: 288px;
    height: 48px;
    background-color: #F5F5F5;
    display: flex;
    align-self: center;
    gap: 20px;
    justify-content: space-between;
}

.left {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page_one {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page_two {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page_three {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    width: 48px;
    height: 48px;
    border-radius: 16px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_left_a {
    height: 100%;
    width: 990px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail_a {
    height: 1126px;
    width: 100%;
    background-color: white;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.title_meta_a {
    height: 87px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.title_a {
    height: 43px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
}

.meta_a {
    width: 431px;
    height: 24px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.portraits_a {
    width: 144px;
    height: 100%;
    background-color: white;
    gap: 4px;
    display: flex;
    align-items: center;
}

.calendar_a {
    width: 119px;
    height: 100%;
    background-color: white;
    gap: 4px;
    display: flex;
    align-items: center;
}

.Icon_a {
    width: 16px;
    height: 16px;
    background-color: white;
}

.students_a {
    width: 116px;
    height: 100%;
    background-color: white;
    gap: 4px;
    display: flex;
    align-items: center;
}

.rectangle_a {
    width: 990px;
    height: 849px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.picture_a {
    height: 603px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    display: flex;
}

.picture_a img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.lorem_a {
    width: 100%;
    height: 216px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    line-height: 150%;
}

.tags_a {
    width: 100%;
    height: 43px;
    gap: 20px;
    background-color: white;
    display: flex;
    align-items: center;
}

.Frame_106_a {
    width: 931px;
    height: 43px;
    background-color: white;
    display: flex;
    gap: 8px;
}

.but1_a{
    width: 131px;
    height: 100%;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 8px 20px 8px 20px;
    background-color: white;
}

.but2_a {
    width: 116px;
    height: 100%;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 8px 20px 8px 20px;
    background-color: white;
}

.but3_a {
    width: 73px;
    height: 100%;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 8px 20px 8px 20px;
    background-color: white;
}

.but4_a {
    width: 73px;
    height: 100%;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 8px 20px 8px 20px;
    background-color: white;
}

.but5_a {
    width: 121px;
    height: 100%;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 8px 20px 8px 20px;
    background-color: #EAEAEA;
}

.but6_a {
    width: 110px;
    height: 100%;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    padding: 8px 20px 8px 20px;
    background-color: white;
}

.share_a {
    width: 100%;
    height: 27px;
    gap: 20px;
    background-color: white;
    display: flex;
    align-items: center;
}

.social_a {
    width: 148px;
    height: 100%;
    display: flex;
    gap: 12px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}

.social_a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.related_articles_a {
    height: 147px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.articles_left_a {
    height: 100%;
    width: 480px;
    background-color: white;
    padding: 30px;
    display: flex;
    border-radius: 20px;
    border: 1px solid #EAEAEA;
    align-items: center;
    gap: 24px;
}

.Frame_left_a {
    width: 48px;
    height: 48px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Text1_a {
    width: 348px;
    height: 87px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.articles_right_a {
    height: 100%;
    width: 480px;
    background-color: white;
    padding: 30px;
    display: flex;
    border-radius: 20px;
    border: 1px solid #EAEAEA;
    align-items: center;
    gap: 24px;
}

.Frame_right_a {
    width: 48px;
    height: 48px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Text2_a {
    width: 348px;
    height: 87px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.comments_a {
    height: 686px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top_heading_a {
    height: 63px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: white;
}

.Laura_a {
    width: 100%;
    height: 558px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Laura_hipster_a {
    width: 100%;
    height: 160px;
    background-color: #F5F5F5;
    border-top: 1px solid #EAEAEA;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.human_a {
    width: 60px;
    height: 60px;
}

.Text_a {
    width: 910px;
    height: 120px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.October_a {
    width: 100%;
    height: 19px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
}

.Com_a {
    width: 100%;
    height: 81px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
}

.reply_a {
    width: 60.73802947998047px;
    height: 24px;
    background-color: #F5F5F5;
    display: flex;
    gap: 8px;
    align-items: center;
}

.Page_a {
    width: 288px;
    height: 48px;
    background-color: #F5F5F5;
    display: flex;
    align-self: center;
    gap: 20px;
    justify-content: space-between;
}

.left_a {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page_one_a {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page_two_a {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Page_three_a {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_a {
    width: 48px;
    height: 48px;
    border-radius: 16px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leave_a_comment_a {
    width: 100%;
    height: 386px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment_a {
    width: 100%;
    height: 63px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.nameinput_a {
    width: 100%;
    height: 293px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name_a {
    width: 100%;
    height: 48px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.Name_a {
    width: 485px;
    height: 100%;
    background-color: white;
    padding-left: 10px;
    border-radius: 5px;
}

.Email_a {
    width: 485px;
    height: 100%;
    background-color: white;
    padding-left: 10px;
    border-radius: 5px;
}

.Comment_a{
    width: 100%;
    height: 110px;
    background-color: white;
}

.cmt_a {
    width: 100%;
    height: 110px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    padding-bottom: 65px;
    padding-left: 10px;
}

.save_a {
    width: 100%;
    height: 27px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.post_a {
    width: 100%;
    height: 48px;
    background-color: white
}

.post_a button {
    width: 170px;
    height: 100%;
    background-color: #FF782D;
    border-radius: 24px;
    color: white;
    border: none;
}
.content_right {
    width: 270px;
    height: 861px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.categories {
    width: 100%;
    height: 212px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Commercial {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555555;
}

.Office {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555555;
}

.Shop {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Educate {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555555;
}

.Academy {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.Single {
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555555;
}
.posts{
    width: 100%;
    height: 346px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.WordPress{
    width: 100%;
    height: 302px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Word{
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.Word_Photo{
    width: 90px;
    height: 90px;
    border-radius: 12px;
}
.Sidebar{
    width: 100%;
    height: 145px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.but_Free_courses{
    width: 131px;
    height: 43px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    display: flex;
    padding: 8px 20px 8px 20px;
    align-items: center;
    justify-content: center;
}
.but_Marketing{
    width: 116px;
    height: 43px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    display: flex;
    padding: 8px 20px 8px 20px;
    align-items: center;
    justify-content: center;
}
.but_Idea{
    width: 73px;
    height: 43px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    display: flex;
    padding: 8px 20px 8px 20px;
    align-items: center;
    justify-content: center;
}
.but_LMS{
    width: 73px;
    height: 43px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    display: flex;
    padding: 8px 20px 8px 20px;
    align-items: center;
    justify-content: center;
}
.but_LearnPress{
    width: 121px;
    height: 43px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    display: flex;
    padding: 8px 20px 8px 20px;
    align-items: center;
    background-color: #EAEAEA;
    justify-content: center;
}
.but_Instructor{
    width: 110px;
    height: 43px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    display: flex;
    padding: 8px 20px 8px 20px;
    align-items: center;
    justify-content: center;
}
.line_contact{
    height: 1128px;
    width: 100%;
    background-color: white;
    padding-bottom: 90px;
    gap: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage {
    height: 60px;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    padding-left: 119px;
}
.map{
    height: 918px;
    width: 1290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Direct_line{
    width: 1290px;
    height: 450px;
    background-color:white;
    display: flex;
    justify-content: space-between;
    
}
.line_left{
    width: 410px;
    height: 269px;
    background-color: white; 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.line_Need{
    width: 100%;
    height: 43px;
    display: flex;
    align-items: center;
}
.line_Text{
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    line-height: 150%;
}
.line_phone{
    width: 194px;
    height: 58px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.icon1{
    width: 56px;
    height: 56px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.number{
    width: 114px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}
.line_e_mail{
    width: 261px;
    height: 58px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.line_icon2{
    width: 56px;
    height: 56px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.line_Email{
    width: 181px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}
.line_right{
    height: 100%;
    width: 850px;
    background-color: white;
    display: flex;
}
.line_right img{
    object-fit: contain;
}
.Contact_us{
    width: 1290px;
    height: 408px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Contact_Leave_a_comment{
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: white;
}
.Contact_nameinput{
    width: 100%;
    height: 178px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Contact_up{
    width: 100%;
    height: 48px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.nameinput_name{
    width: 635px;
    height: 100%;
    padding: 10px 16px 10px 16px;
    border: 1px solid #9D9D9D;
    border-radius: 8px;
}
.nameinput_email{
    width: 635px;
    height: 100%;
    padding: 10px 16px 10px 16px;
    border: 1px solid #9D9D9D;
    border-radius: 8px;
}
.nameinput_comment{
    width: 100%;
    height: 110px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    padding-bottom: 65px;
    padding-left: 10px;
    border: 1px solid #9D9D9D;
}
.Contact_checkbox{
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.contact_button{
    width: 170px;
    height: 48px;
    background-color: white;
}
.contact_button button{
    width: 170px;
    height: 100%;
    background-color: #FF782D;
    border-radius: 24px;
    color: white;
    border: none;
}
.content_login {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.homepage {
    height: 60px;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    padding-left: 119px;
}

.Box1 {
    height: 598px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap: 30px;
}

.Login1 {
    height: 406px;
    width: 630px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #EAEAEA;
}

.dang_nhap {
    width: 570px;
    height: 38px;
    background-color: white;
    display: flex;
    align-items: center;
    
}

.name_input {
    width: 570px;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.email {
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 8px;
    padding: 10px 16px 10px 16px;
}

.mk {
    width: 100%;
    height: 40px;
    background-color: white;
    display: flex;
    border-radius: 8px;
    padding: 10px 16px 10px 16px;
}

.remember {
    width: 570px;
    height: 27px;
    background-color: white;
    display: flex;
    align-items: center;
}

.box2 {
    width: 570px;
    height: 48px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.box2 button {
    width: 570px;
    height: 48px;
    background-color: #FF782D;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
}

.Lost {
    width: 570px;
    height: 27px;
    background-color: white;
    display: flex;
    align-items: center;
}

.Register {
    width: 630px;
    height: 448px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 45px;
    border: 1px solid #EAEAEA;
    border-radius: 20px;
}

.dang_ki {
    width: 570px;
    height: 38px;
    background-color: white;
    display: flex;
    align-items: center;
}

.Input1 {
    width: 570px;
    height: 220px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.e_mail {
    width: 100%;
    height: 40px;
    background-color: white;
    padding: 10px 16px 10px 16px;
    border-radius: 8px;
}

.ng_dung {
    width: 100%;
    height: 40px;
    background-color: white;
    padding: 10px 16px 10px 16px;
    border-radius: 8px;
}

.MK {
    width: 100%;
    height: 40px;
    background-color: white;
    padding: 10px 16px 10px 16px;
    border-radius: 8px;
}

.confirm {
    width: 100%;
    height: 40px;
    background-color: white;
    padding: 10px 16px 10px 16px;
    border-radius: 8px;
}

.Dang_ki {
    width: 570px;
    height: 48px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.Dang_ki button {
    width: 570px;
    height: 48px;
    background-color: #FF782D;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
}
.footer {
    height: 552px;
    width: 100%;
    padding: 30px 0px 90px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: gainsboro;
}

.Edu {
    height: 281px;
    width: 1290px;
    display: flex;
    justify-content: space-between;
}

.Edu1 {
    height: 131px;
    width: 410px;
}

.Edu2 {
    height: 190px;
    width: 191px;
    display: flex;
}

.Edu2_1 {
    height: 135px;
    width: 110px;
    display: flex;
    align-self: flex-end;
    position: relative;
    right: 62px;
    flex-direction: column;
    justify-content: space-between;
}

.Edu3 {
    height: 281px;
    width: 190px;
    display: flex;
}

.Edu3_1 {
    height: 225px;
    width: 107px;
    position: relative;
    right: 67px;
    top: 55px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.Edu4 {
    height: 218px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.Edu4_1 {
    height: 162px;
    width: 100%;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
}

.t {
    height: 20px;
    width: 148px;
    display: flex;
    justify-content: flex-end;

}

.copyright {
    height: 50px;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    display: flex;
    left: 30%;

}